{% extends 'base.html.twig' %}

{% block body %}
    <div class="difficulties-block">
        <ul class="list">
            {#{% if difficulties | length > 1 %}#}
                {% for difficulty in difficulties %}
                    <li class="item">
                        {#{% if difficulty.accessible %}#}
                        <a href="{{
                        path('app_test', {'difficultyName': difficulty.name, 'directionName': direction})
                        }}">
                            {{ difficulty.name }}
                            {#{% if (difficulty.passed) %}#}
                            {#(Passed)#}
                            {#{% elseif (not difficulty.passed)%}#}
                            {#{% if (difficulty.didNotPass and not difficulty.passed) %}#}
                            {#(Did not pass)#}
                            {#{% else %}#}
                            {#(Not passed)#}
                            {#{% endif %}#}
                            {#{% endif %}#}
                        </a>
                        {#{% else %}#}
                        {#{{ difficulty.name }}#}
                        {#{% endif %}#}
                    </li>
                {% endfor %}
            {#{% else %}
                <li class="item">
                    #}{#{% if difficulty.accessible %}#}{#
                    <a href="{{
                    path('app_test', {'difficultyName': difficulties.name, 'directionName': direction})
                    }}">
                        {{ difficulties.name }}

                    </a>
                    #}{#{% else %}#}{#
                    #}{#{{ difficulty.name }}#}{#
                    #}{#{% endif %}#}{#
                </li>
            {% endif %}#}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

